<h1>Welcome to the KIEI-925 Casino!</h1>
<html>
	<h1>Let's Deal Poker!?</h1> 
	 
<!-- This can totally be done better with a loop somehow.  But I'm still trying to figure it out.  -->		
	<%
		card1 = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"].sample
		suit1 = ["diamonds","hearts","clubs","spades"].sample
   		card2 = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"].sample
		suit2 = ["diamonds","hearts","clubs","spades"].sample
		card3 = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"].sample
		suit3 = ["diamonds","hearts","clubs","spades"].sample
		card4 = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"].sample
		suit4 = ["diamonds","hearts","clubs","spades"].sample
		card5 = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"].sample
		suit5 = ["diamonds","hearts","clubs","spades"].sample
		
		%>
    
		
	<img src="http://golearntocode.com/images/cards/<%=card1%>_of_<%=suit1%>.png" height="150" >
	<img src="http://golearntocode.com/images/cards/<%=card2%>_of_<%=suit2%>.png" height="150" >
	<img src="http://golearntocode.com/images/cards/<%=card3%>_of_<%=suit3%>.png" height="150" >
	<img src="http://golearntocode.com/images/cards/<%=card4%>_of_<%=suit4%>.png" height="150" >
	<img src="http://golearntocode.com/images/cards/<%=card5%>_of_<%=suit5%>.png" height="150" >
	<br>
		
	 
</html>
<!-- Deal the cards here -->