<h1>Welcome to the KIEI-925 Casino!</h1>
<html>
	<h1>Let's Deal Poker!?</h1> 
	 
<!-- This can totally be done better with a loop somehow.  But I'm still trying to figure it out.  -->		

	<%
		cards = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"]
		suits = ["diamonds","hearts","clubs","spades"]   	
	


	%>
    
	


	<img src="http://golearntocode.com/images/cards/<%=cards.sample%>_of_<%=suits.sample%>.png" height="150" >
	<img src="http://golearntocode.com/images/cards/<%=cards.sample%>_of_<%=suits.sample%>.png" height="150" >
	<img src="http://golearntocode.com/images/cards/<%=cards.sample%>_of_<%=suits.sample%>.png" height="150" >
	<img src="http://golearntocode.com/images/cards/<%=cards.sample%>_of_<%=suits.sample%>.png" height="150" >
	<img src="http://golearntocode.com/images/cards/<%=cards.sample%>_of_<%=suits.sample%>.png" height="150" >
	<br>
		
	 
</html>
<!-- Deal the cards here -->